.hidden{
    display: none;
}
.ksd-new-ticket-form-wrap ul{
    margin: 0;
    padding: 0;
}
.ksd-new-ticket-form-wrap ul li,.ksd-register-form-wrap ul li{
    position: relative;
    list-style: none;
}
.ksd-new-ticket-form-wrap input,.ksd-register-form-wrap input{
      color: #333;
}
.ksd-new-ticket-form-wrap ul li label,.ksd-register-form-wrap ul li label {
  font-size: 0.7em;
}
.ksd-new-ticket-form-wrap ul li label.error,.ksd-register-form-wrap ul li label.error{
    color: red;
}
.ksd-new-ticket-form-wrap input,.ksd-new-ticket-form-wrap textarea,.ksd-register-form-wrap input,.ksd-register-form-wrap textarea {
  margin-bottom: 7px;
}
.ksd-g-recaptcha-error{
    font-size: 0.8em;
    color: #F00;
}
.ksd-form-hidden-tab input,.ksd-form-hidden-tab textarea ,.ksd-form-hidden-tab-form ul li.ksd-g-recaptcha{
  width: 290px;
}
.ksd-form-hidden-tab-form ul li.ksd-show-password > input,.ksd-register-form-wrap .ksd-show-password > input {
  width: auto;
}  
.ksd-form-hidden-tab .ksd-submit{
   width: 300px;  
   margin-top: 10px;
}
.ksd-form-short-code input,.ksd-form-short-code textarea {
  width: 95%;
}
.ksd-form-short-code .ksd-submit,.ksd-form-widget .ksd-submit{
  width: 47%;
  margin-top: 10px;
}
.ksd-public-form-response,
#ksd-public-reply-error,
#ksd-public-reply-success{
    background-color: #00aec7;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;  
    border-radius: 3px;
    color: #fff;
    padding: 8px;
}
#ksd-public-reply-error{
    background-color: red;
}
.ksd-new-ticket-form-wrap .ksd-close-form-wrapper{
    width: 100%;
    height: 36px;    
}
.ksd-new-ticket-form-wrap img.ksd_close_button,.ksd-register-form-wrap img.ksd_close_button{
    float: right;
    cursor: pointer;
}

.ksd-new-ticket-form-wrap img.ksd_loading_dialog,.ksd-register-form-wrap img.ksd_loading_dialog {
  left: 50%;
  position: absolute;
}
.ksd-new-ticket-form-wrap .ksd-public-submit,.ksd-register-form-wrap .ksd-public-submit{
    position: relative;
    min-height: 35px;
}
 
.ksd-new-ticket-form-wrap ,.ksd-register-form-wrap{
    padding: 12px 10px 10px;
}
.ksd-form-short-code,.ksd-form-widget{
  width: 100%;
}
.ksd-register-form-wrap .ksd-register-description {
  clear: both;
  padding: 0 0 8px;
  width: 100%;
}
.ksd-register-description > p {
  padding: 3px 0;
}
.ksd-form-hidden-tab{
  background-color: #fff;
  max-width: 30%;
  border: 1px solid #CCC;
  left: 0;
  padding: 42px 10px 10px;
  position: fixed;
  top: 10%;
  z-index: 999; /*We need this to make sure this is visible*/   
}
.ksd-form-short-code .ksd-close-form-wrapper,.ksd-form-widget .ksd-close-form-wrapper{
    display: none;
}
button#ksd-new-ticket-public{
  position: fixed;
  top: 90%;
  left: 0;
  border-radius: 0;
  z-index: 999; /*We need this to make sure this is visible*/
}
.ksd-button{
    vertical-align: baseline;
    background: #00a0d2 none repeat scroll 0 0;
    border-color: #0073aa;
    box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    height: 28px;
    line-height: 26px;
    margin: 0;
    padding: 0 10px 1px;
    text-decoration: none;
    white-space: nowrap;
}
a.ksd-button {
  height: auto;
}
.entry-content a.button.ksd-button{
    color: #fff;
}
a.ksd-button:focus, a.ksd-button:hover {
  background: #0091cd none repeat scroll 0 0;
  border-color: #0073aa;
  box-shadow: 0 1px 0 rgba(120, 200, 230, 0.6) inset;
  color: #fff;
}
ul#ksd-list-my-tickets {
  border-top: 1px solid #ccc;
  margin: 0 0 14px;
  padding: 0;
}
ul#ksd-list-my-tickets li {
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
}
.ksd-my-ticket-title {
  margin-left: 20px;
}
.ksd-my-ticket-date {
  float: right;
}
.ksd-reply-cc {
  clear: both;
  color: #777;
  float: left;
  font-size: 0.9em;
}
#ksd-reply-to-all {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  color: #555;
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );
  margin-left: 5px;
}
#ksd-cc-div {
  clear: both;
  margin-top: 15px;
}
.ksd-my-ticket-status{
    border-radius: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    color: #FFF;
    font-size: 0.9em;
    padding: 3px;    
    background-color: grey;
}
.ksd-my-ticket-status.new{
    background-color: #bcc1c5;  
}
.ksd-my-ticket-status.open{
    background-color: red;
}
.ksd-my-ticket-status.pending{
    background-color: orange;  
}
.ksd-my-ticket-status.resolved{
    background-color: #008000;  
}

.ksd-public-spinner{
    background: rgba(0, 0, 0, 0) url("../../../../../wp-admin/images/spinner.gif") no-repeat scroll 0 0 / 20px 20px;
    display: none;
    float: left;
    height: 20px;
    margin: 4px 10px 0;
    opacity: 0.7;
    vertical-align: middle;
    width: 20px;
}
.spinner.is-active {
  display: inline-block;
}
ul#ksd-ticket-replies {
  border-top: 1px solid #ffa500;
  margin: 0;
  padding: 0;
}
ul#ksd-ticket-replies li {
  list-style-type: none;
  margin: 0;
}
.ticket-reply {
    border-bottom: 1px solid #FFA500;
    padding: 15px;
}
.reply_date {
  float: right;
}
.reply_message {
  clear: both;
}
#ticket-replies .reply_date {
    float: right;
    text-align: right;
    width: 50%;
}
.reply_author {
    float: left;
    width: 50%;
    font-weight: bold;
}
#wp-ksd-public-new-reply-wrap .wp-editor-container {
  border: 1px solid #CCC;
  clear: both;
  margin-bottom: 15px;
}

.ksd-cc{ 
    width: 80% !important;
    margin-bottom: 5px;
}
ul.ksd_attachments{
    margin-top:1px;
}
ul.ksd_attachments li{
    background-color: #fafafa;
    background-image: url("../images/icons/attachment.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #dcdcdc;
    line-height: 30px;
    padding-left: 30px;
    width: 90%;
    margin: 5px auto;
    position: relative;
    list-style:none;
    
}

@media screen and (max-width: 600px) {
 .ksd-form-short-code .ksd-submit,.ksd-form-widget .ksd-submit{
    width: 90%;
}
}