.hidden{
    display: none;
}
#ksd-new-ticket-frontend-wrap ul{
    margin: 0;
    padding: 0;
}
#ksd-new-ticket-frontend-wrap ul li{
    position: relative;
    list-style: none;
}
#ksd-new-ticket-frontend-wrap input{
      color: #333;
}
#ksd-new-ticket-frontend-wrap ul li label {
  font-size: 0.7em;
}
#ksd-new-ticket-frontend-wrap ul li label.error{
    color: red;
}
#ksd-new-ticket-frontend-wrap input,#ksd-new-ticket-frontend-wrap textarea {
  margin-bottom: 7px;
}
.ksd-g-recaptcha-error{
    font-size: 0.8em;
    color: #F00;
}
.ksd-form-hidden-tab input,.ksd-form-hidden-tab textarea ,.ksd-form-hidden-tab-form ul li.ksd-g-recaptcha{
  width: 290px;
}
.ksd-form-hidden-tab .ksd-submit{
   width: 300px;  
   margin-top: 10px;
}
.ksd-form-short-code input,.ksd-form-short-code textarea {
  width: 95%;
}
.ksd-form-short-code .ksd-submit,.ksd-form-widget .ksd-submit{
  width: 47%;
  margin-top: 10px;
}
#ksd-new-ticket-frontend-wrap .ksd-close-form-wrapper{
    width: 100%;
    height: 36px;    
}
#ksd-new-ticket-frontend-wrap img.ksd_close_button{
    float: right;
    cursor: pointer;
}

#ksd-new-ticket-frontend-wrap img.ksd_loading_dialog {
  left: 50%;
  position: absolute;
}
#ksd-new-ticket-frontend-wrap .ksd-frontend-submit{
    position: relative;
    min-height: 35px;
}
 
#ksd-new-ticket-frontend-wrap {
    padding: 12px 10px 10px;
}
.ksd-form-short-code,.ksd-form-widget{
  width: 100%;
}
.ksd-form-hidden-tab{
  background-color: #fff;
  max-width: 30%;
  border: 1px solid #CCC;
  left: 0;
  padding: 42px 10px 10px;
  position: fixed;
  top: 10%;
  z-index: 999; /*We need this to make sure this is visible*/   
}
.ksd-form-short-code .ksd-close-form-wrapper,.ksd-form-widget .ksd-close-form-wrapper{
    display: none;
}
button#ksd-new-ticket-frontend{
  position: fixed;
  top: 90%;
  left: 0;
  border-radius: 0;
  z-index: 999; /*We need this to make sure this is visible*/
}
@media screen and (max-width: 600px) {
 .ksd-form-short-code .ksd-submit,.ksd-form-widget .ksd-submit{
    width: 90%;
}
}
 