#admin-kanzu-support-desk{
	position: relative;
}
#admin-kanzu-support-desk .ui-widget-content {
  background-color: #f1f1f1;
}
#admin-kanzu-support-desk .ui-widget {
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    line-height: 1.4em;
}
.admin-ksd-title{
    position: relative;
}
.admin-ksd-title h2{
	text-transform: capitalize;
}
#ksd_dashboard_chart{
    width: 100%;
    max-width: 1120px;
    min-width: 600px;
}
#admin-kanzu-support-desk div.admin-ksd-container{
	border-bottom: medium none;
	border-right: medium none;
	border-left: medium none;
	border-top: 1px solid #E5E5E5;
	margin: 10px 0 10px 0;
        padding: 0;
	width: 100%;
	background-image: url("../images/nav_bg.jpg");
	background-repeat: repeat-y;
	background-position: left top;
        background-color: #F1F1F1;
}
#admin-kanzu-support-desk ul.ui-tabs-nav {
        background-color: #e7e7e7;
        background-image: none;
        border: medium none;
        float: left;
        width: 6%;
}
#ticket-tabs ul.ui-tabs-nav{
	background-color: #EFEFEF;
	width: 15em;	
}
#admin-kanzu-support-desk ul.ui-tabs-nav li{
	text-align: center;
}
#ticket-tabs ul.ui-tabs-nav {
  position: absolute;
  top: -35px;
  width: 56%;
}
#ticket-tabs ul.ui-tabs-nav li {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  border-radius: 0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  margin: 0;
  padding: 0;
}


#tickets .ui-tabs ul.ui-tabs-nav li a.ui-tabs-anchor{
    padding: 0 0.2em;
    color: #0074a2;
}
#tickets .ui-tabs ul.ui-tabs-nav li.ui-state-active a.ui-tabs-anchor,#tickets .ui-tabs ul.ui-tabs-nav li.ui-state-active{
    color: #000;
    font-weight: bold;
}

#admin-kanzu-support-desk .admin-ksd-content {
        float: left;
        margin-top: 0;
        padding-left: 1%;
        padding-top: 0;
        width: 90%;
}
#admin-kanzu-support-desk div#tickets {
	padding-left: 0;
}
#admin-kanzu-support-desk .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	background: #2ea2cc;
        color: #FFF;
}
#admin-kanzu-support-desk .ui-state-active a, .ui-widget-content .ui-state-active a, .ui-widget-header .ui-state-active a{
	color: #FFF;
}
#admin-kanzu-support-desk  .ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	padding: 0.5em 0;
}
ul.ksd-top-nav{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: -35px;
}
ul.ksd-top-nav li{
    display: inline;
    padding: 0 10px;    
}
#ticket-tabs .admin-ksd-tickets-content{
	width: 100%;
	padding-top: 0;
        padding-left: 0;
}
.ksd-ticket-extras {
  position: absolute;
  right: 0;
  top: -35px;
  width: 45%;
}
.ksd-pagination-field {
  float: left;
  width: 23%;
}
.ksd-ticket-refresh {
  cursor: pointer;
  float: left;
  height: 24px;
  text-align: center;
  width: 7%;
}
.ksd-ticket-refresh button.button{
  background-image: url("../images/icons/refresh.png");
  background-repeat: no-repeat;
  background-position: center;
}
.ksd-ticket-refresh button.button:hover,.ksd-ticket-refresh button.button:focus{
  background-image: url("../images/icons/refresh.png");
  background-repeat: no-repeat;
  background-position: center;
}
#admin-kanzu-support-desk div.admin-ksd-tickets-container{
	border: medium none;
	width: 100%;
}
.admin-ksd-tickets-content{
    float: left;
    width: 70%;
}
#ticket-tabs div.pending{
}

.ksd-hide-pending{
    display:none;
}
#admin-kanzu-support-desk div.ksd-pending2{
   	background-image: url("../images/loading.gif");
	background-repeat: no-repeat;
	background-position: center;
	min-height: 350px;
        z-index: 10000;
       position: relative;
       width:100%;
       height: 100% 
}

.new-ticket {
	background-color: #2ea2cc;
	border: 1px solid #fff;
	color: #fff;
	padding: 5px 40px;
	position: absolute;
	right: 20px;
	top: 0;
}
a.new-ticket {
	text-decoration: none;
}
a.new-ticket:hover {
	color: #333;
}
.ksd-new-ticket{
    margin-top: 25px;
}
/*New Tickets*/
#new-ticket input{
    height: 35px;
    border: 1px solid #d3d3d3;
    margin: 5px 0;
    float: left;
}
#new-ticket label{
    font-weight: bold;
}
#new-ticket select{
    width: 30%;
    border: 1px solid #d3d3d3;
}
.ksd-subject,.ksd-message,.ksd-tags{
    width: 100%;
}
.ksd-assign-to,.ksd-severity{
    width: 50%;
}
.ksd-send-email{
    width: 10%;
    float: left;
    line-height: 42px;
}
.ksd-customer-email,.ksd-customer-name{
    width: 45%;
}
.ksd-assign-to,#new-ticket .ksd-customer-email{
    float: right;
}
.ksd-severity{
    float: left;
}
.ksd-message{
    margin-bottom: 10px;
    clear: both;
}
#new-ticket .ksd-submit{
    background-color: #2ea2cc;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 40px;
    float: right;
}
#ksd-single-ticket{
    padding-left: 15px;
}
#ksd-single-ticket .ksd-submit{
    float: right;
    clear: both;
}
#edit-ticket-tabs{
    border: none;
    
}
#ksd-single-ticket #edit-ticket-tabs ul.ui-tabs-nav {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  width: 100%;
}
#ksd-single-ticket #edit-ticket-tabs ul li {
  clear: none;
  width: 12%;
  border-radius: 0;
}
#ksd-single-ticket #edit-ticket-tabs ul li.ui-state-default{
  background: #e0e0e0;
}
#ksd-single-ticket #edit-ticket-tabs ul li.ui-state-default a{
    color: #222;
}
#ksd-single-ticket #edit-ticket-tabs ul li.ui-tabs-active{
  background: #2ea2cc;
}
#ksd-single-ticket #edit-ticket-tabs ul li.ui-tabs-active a{
  color: #FFF;
}
#ksd-single-ticket #edit-ticket-tabs ul li a{
    padding: 0 15%;
    color: #FFF;
}
#edit-ticket-tabs #reply_ticket,#edit-ticket-tabs #forward_ticket,#edit-ticket-tabs #update_private_note {
    float: left;
    margin-top: 20px;
    padding-left: 0;
}
#update_private_note textarea{
    background-color: #EFEFEF;
}
#ticket-replies{
    margin-top: 10px;
    border-top: 1px solid #ccc;
}
.ticket-reply {
  border-bottom: 1px solid #ccc;
  padding: 15px 5px;
}
#new-ticket input.ksd-submit:hover{
   cursor: pointer; 
}
.ticket-actions {
  clear: left;
  font-size: 0.8em;
  visibility: hidden;
  width: 100%;
  padding-left: 11px;
}
.ticket-list-item .ticket-actions a{
	color: #0074a2;
	text-decoration: none;
}
div.ticket-list-item:hover .ticket-actions {
	visibility: visible;
}
.ticket-actions ul.status li:hover{
	background-color: #FFF;
}
.alternate .ticket-actions ul.status li:hover{
	background-color: #f9f9f9;
}
#ticket-tabs .empty{
    text-align: center;
    background: #efefef;    
    padding-top:  10%;
    font-size: 1.2em;
    font-weight: bold;
}
/**Add-ons**/
ul.add-ons {
  margin: 0;
  padding: 15px 0;
}
ul.add-ons li {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  width: 230px;
}
ul.add-ons li a{
    text-decoration: none;
}
ul.add-ons li p{
    text-align: left;
}
/*The dashboard indicators*/
ul.dashboard-statistics-summary {
  border: 1px solid #ccc;
  height: 70px;
  text-align: center;
  width: 100%;
}
ul.dashboard-statistics-summary li {
  float: left;
  line-height: 70px;
  width: 25%;
}

/**Style a ticket item*/
.ticket-list{
    background-color: #FFF;
}
#select-all-tickets{
    padding: 5px 0 5px 8px;
    font-weight: bold;
}
.ticket-list-item {
    width: 100%;
    padding: 10px 0 8px;
    margin: 0;
    line-height: 20px;
}
.ticket-list-item input{
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 1%;
}
.ticket-list-item span.customer_name{
    width: 25%;
    float: left; /*This is important otherwise the width element won't work*/
}

.ticket-list-item .subject-and-message-excerpt {
  float: left;
  margin: 0;
  padding: 0;
  width: 63%;
}
.ticket-list-item .subject-and-message-excerpt a,.ticket-list-item .customer_name a{
    text-decoration: none;
}
.ticket-list-item .ticket-time {
  float: right;
  text-align: right;
  width: 9%;
  padding-right: 1%;
}
.ticket-list-item .description{
    font-style: normal;
}
ul.edit-ticket-options {
  height: 35px;
  line-height: 35px;
}
ul.edit-ticket-options li{
    float: left;
    padding-left: 10px;
}
ul.edit-ticket-options li.selected{
    font-weight: bold;
}
/*Loading items*/
.ksd-dialog, #admin-kanzu-support-desk div.error {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
  border: medium none;
  border-radius: 12px;
  box-shadow: none;
  color: #fff;
  display: none;
  font-size: 24px;
  left: 50%;
  padding: 30px 30px 30px 60px;
  position: fixed;
  text-align: center;
  top: 50%;
}
.wp-admin .ui-widget-header{
    background: none repeat scroll 0 0 #2ea2cc;
    border: 1px solid #2ea2cc;
    color: #fff;
}
/*The settings panel*/
#update-settings label {
  cursor: pointer;
  float: left;
  font-weight: bold;
  width: 200px;
}
#update-settings input {
  padding: 10px;
}
#update-settings div.setting {
  margin: 10px 0;
}
#update-settings .ksd-submit {
  bottom: 120px;
  position: fixed;
  right: 120px;
  padding: 0 12px 2px;
}
#update-settings .ksd-license{
  padding: 0 12px 2px;
}
#update-settings div.setting span.valid{
    color: green;
}
#update-settings div.setting span.invalid{
    color: red;
}
#update-settings div.setting span.loading {
  background-image: url("../images/loading_button.gif");
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  height: 35px;
  width: 50px;
}
#update-settings .ksd-reset {
  right: 210px;
}
#settings-accordion{
  padding-top: 12px;
}
.ui-tooltip {
	padding: 8px !important;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
        font-size:11px !important;
        color:#fff !important;
        background:#464646 !important; 
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        -webkit-box-shadow:1px 1px 3px rgba(0,0,0,.1);
        -moz-box-shadow:1px 1px 3px rgba(0,0,0,.1);
        box-shadow:1px 1px 3px rgba(0,0,0,.1);
        text-align:center;
} 
 
.help_tip{
    cursor: help;
}

/*Style our navigation*/
.ksd-main-nav .ui-tabs-vertical { width: 55em; }
.ksd-main-nav .ui-tabs-vertical > .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ksd-main-nav .ui-tabs-vertical > .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ksd-main-nav .ui-tabs-vertical > .ui-tabs-nav li >  a { display:block; }
.ksd-main-nav .ui-tabs-vertical > .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ksd-main-nav .ui-tabs-vertical > .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

/* * @requires KSDUtils
 * @package   Kanzu_Support_Desk
 * @author    Kanzu Code <feedback@kanzucode.com>
 * @license   GPL-2.0+
 * @link      http://kanzucode.com
 * @copyright 2014 Kanzu Code
 * */
.shadow {
  box-shadow: 0 1px 2px 0 #555555;
}
.divider {
  border-style: solid;
  border-width: 0 1px 0 1px;
  border-color: transparent #444444 transparent #888888;
}
.gradient {
  background: linear-gradient(top, #7a7a7a 0%, #6c6c6c 50%, #545454 51%, #6a6a6a 100%);
}
.hovereffect {
  background: linear-gradient(top, #545454 0%, #434343 50%, #333333 51%, #505050 100%);
}
.ksd-grid-container {
  width: 100%;
  max-width: 1200px;
}
.ksd-row:before,
.ksd-row:after {
  content: "";
  display: table ;
  clear: both;
}
[class*='ksd-col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  padding: 2px;
}
.ksd-col-1 {
  width: 16.66%;
}
.ksd-col-2 {
  width: 33.33%;
}
.ksd-col-3 {
  width: 50%;
}
.ksd-col-4 {
  width: 66.66%;
}
.ksd-col-5 {
  width: 83.33%;
}
.ksd-col-6 {
  width: 100%;
}
/*Gutters*/
.ksd-grid-container * {
  box-sizing: border-box;
}
/*Responsive*/
/*Screens < 800px*/
@media all and (max-width: 650px) {
  .ksd-col-1 {
    width: 50%;
  }
  .ksd-col-2 {
    width: 100%;
  }
  .ksd-col-3 {
    width: 100%;
  }
  .ksd-col-4 {
    width: 100%;
  }
  .ksd-col-5 {
    width: 100%;
  }
  .ksd-col-6 {
    width: 100%;
  }
}
@media all and (max-width: 800px) {
  .ksd-col-1 {
    width: 33.33%;
  }
  .ksd-col-2 {
    width: 50%;
  }
  .ksd-col-3 {
    width: 83.33%;
  }
  .ksd-col-4 {
    width: 100%;
  }
  .ksd-col-5 {
    width: 100%;
  }
  .ksd-col-6 {
    width: 100%;
  }
  .ksd-row .ksd-col-2:last-of-type {
    width: 100%;
  }
  .ksd-row .ksd-col-5 ~ .col-1 {
    width: 100%;
  }
}
/*
*KSD (Tickets) Table
*===============================================================
*/
.ksd-table {
  width: 100%;
  border: 0px;
  padding: 0px;
  cellspacing: 0px;
}
.ksd-table th {
  text-align: left;
  font-weight: bold;
  margin: 0px;
  padding: 2px;
  color: white;
}
.ksd-table thead:first-child {
  width: 10px;
}
.ksd-table thead {
  background-color: #2ea2cc;
  height: 35px;
}
.ksd-table tbody tr {
  height: 30px;
}
.ksd-table tbody tr a {
  text-decoration: none;
}
.ksd-table tbody .ksd-row-all {
  display: none;
}
.ksd-table tbody .ksd-row-data {
  /*Display controls when curser is hovered of row*/
}
.ksd-table tbody .ksd-row-data:hover td {
  border-top: solid 2px #2ea2cc;
}
.ksd-table tbody .ksd-row-data:hover td:first-child {
  border-left: solid 2px #2ea2cc;
}
.ksd-table tbody .ksd-row-data:hover td:last-child {
  border-right: solid 2px #2ea2cc;
}
.ksd-table tbody .ksd-row-data:hover + .ksd-row-ctrl {
  font-size: 11px;
  color: #2ea2cc;
  display: table-row;
  font-weight: bold;
}
.ksd-table tbody .ksd-row-data:hover + .ksd-row-ctrl td {
  border-bottom: solid 2px #2ea2cc;
}
.ksd-table tbody .ksd-row-data:hover + .ksd-row-ctrl td:first-child {
  border-left: solid 2px #2ea2cc;
}
.ksd-table tbody .ksd-row-data:hover + .ksd-row-ctrl td:last-child {
  border-right: solid 2px #2ea2cc;
}
.ksd-table tbody .ksd-row-ctrl {
  /*Initially hide the ticket management controls*/
  display: none;
}
.ksd-table tbody .ksd-row-ctrl:hover {
  /*keep controls*/
  display: table-row;
  font-size: 11px;
  color: #2ea2cc;
  font-weight: bold;
}
.ksd-table tbody .ksd-row-ctrl:hover td {
  border-bottom: solid 2px #2ea2cc;
}
.ksd-table tbody .ksd-row-ctrl:hover td:first-child {
  border-left: solid 2px #2ea2cc;
}
.ksd-table tbody .ksd-row-ctrl:hover td:last-child {
  border-right: solid 2px #2ea2cc;
}
.ksd-table tbody .ksd-row-ctrl span:hover {
  text-decoration: underline;
}
.ksd-tbl-header {
  font-weight: bold;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
  border-left: 1px solid #555555;
  height: 25px;
  padding: 0px;
}
.ksd-tbl-header [class*='ksd-col-'] {
  border-right: 1px solid #555555;
  padding: 0px;
}
.ksd-tbl-rows {
  font-weight: bold;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
  border-left: 1px solid #555555;
  height: 25px;
  padding: 0px;
}
.ksd-tbl-rows [class*='ksd-col-'] {
  border-right: 1px solid #555555;
  padding: 0px;
}
.ksd-row-ctrl-hover {
  /*to be appended to ksd-row-data when hovering over ksd-row-ctrl*/
}
.ksd-row-ctrl-hover td {
  border-top: solid 2px #2ea2cc;
}
.ksd-row-ctrl-hover td span:hover {
  text-decoration: underline;
}
.ksd-row-ctrl-hover td:first-child {
  border-left: solid 2px #2ea2cc;
}
.ksd-row-ctrl-hover td:last-child {
  border-right: solid 2px #2ea2cc;
}
.ksd-row-all-show {
  display: table-row;
}
.ksd-row-all-show td {
  font-size: 11px;
  color: #2ea2cc;
  font-weight: bold;
}
.ksd-row-all-show td a {
  font-size: 11px;
  color: #2ea2cc;
  font-weight: bold;
}
.ksd-row-all-show td a:hover {
  text-decoration: underline;
}
.ksd-row-all-hide {
  display: none;
}
.ksd-row-nodata {
  text-align: center;
  border: 1px solid #2ea2cc;
}
/*Search
*=============================================================
*/
.ksd-ticket-search {
  text-align: right;
}
.ksd-ticket-search span {
  font-weight: bold;
}
.ksd-ticket-search span:hover {
  color: #2ea2cc;
}
.ksd-ticket-search input {
  border: 1px solid #ddd;
  height: 28px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
}
/*Table Pagination
*=============================================================
*/
.ksd-ticket-nav nav {
  margin: 10px 0px 0px 0px;
  height: 40px;
}
.ksd-ticket-nav nav ul {
  padding: 0;
  margin: 0;
}
.ksd-ticket-nav nav ul li {
  display: inline;
}
.ksd-ticket-nav nav ul li a {
  text-decoration: none;
  display: inline-block;
  float: left;
  width: 30px;
  height: 35px;
  text-align: center;
  line-height: 250%;
  color: #555555;
  text-shadow: 1px 1px 0px #ffffff;
  border: none;
}
.ksd-ticket-nav nav ul li a:hover {
  background: linear-gradient(top, #545454 0%, #434343 50%, #333333 51%, #505050 100%);
}
.ksd-ticket-nav nav ul li a:hover {
  border: 1px solid #555555;
  box-shadow: 0 1px 2px 0 #555555;
}
.ksd-ticket-nav nav ul li:first-child a {
  border-left: none;
}
.ksd-ticket-nav nav ul li:last-child a {
  border-right: none;
}
.ksd-ticket-nav nav ul .current-nav {
  color: #2ea2cc;
  font-weight: bold;
  border: 1px solid #2ea2cc;
  text-align: center;
  box-shadow: 0 1px 2px 0 #555555;
}
.ksd-pagination-limit {
  width: 50px;
  border-radius: 3px;
  border: 1px solid #505050;
}
/*
*Status change & assignment options 
*/
.ksd-tkt-row-options {
  /*border:1px solid @theme2;
    width:100px;*/
}
.ksd-tkt-row-options li {
  padding: 2px;
}
.ksd-tkt-row-options li:hover {
  text-decoration: underline;
}
.ticket-actions ul.status {
  /*border:1px solid @theme2;
    width:100px;*/
  /*margin-left:20px;*/
}
.ticket-actions ul.status li {
  padding: 2px;
}
.ticket-actions ul.status li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.ticket-actions ul.ksd_agent_list {
  /*border:1px solid @theme2;
    width:100px;*/
  /*margin-left:100px;*/
}
.ticket-actions ul.ksd_agent_list li {
  padding: 2px;
}
.ticket-actions ul.ksd_agent_list li:hover {
  text-decoration: underline;
  cursor: pointer;
}


/**
 * Jquery UI CSS.  
 */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}
 

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ui-dialog {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 20px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
.ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}
.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}
/* TR overrides */
 
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}
 

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff;
	color: #222222;
}
.ui-widget-content a {
	color: #222222;
}
.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc;
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6;
	font-weight: normal;
	color: #555555;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada;
	font-weight: normal;
	color: #212121;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #212121;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff;
	font-weight: normal;
	color: #212121;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fcefa1;
	background: #fbf9ee;
	color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec;
	color: #cd0a0a;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70); /* support: IE8 */
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35); /* support: IE8 */
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* support: IE8 - See #6059 */
}
 